<style type="text/css">
    .sb-slider {
        display: block;
        position: relative;
        width: 285px;
        height: 275px;
        overflow: hidden;
        border-radius:4px;
    }
    ul.none {
        margin: 0;
        padding: 0;
        list-style-type: none !important;
    }
    ul.none li {
        position: absolute;
        list-style-type: none !important;
        top: 0;
        left: 0;
        display: none;
    }
    ul.none li img {
        object-fit: contain;
    }

    hr.am {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
        border-top: none !important;
        border-bottom: 1px solid #D16519 !important;
    }


</style>
<script>
    $.fn.AutoSlide = function() {
        var that = this,
                items = $(that).find('li').length,
                active = 0,
                timer = 4000;

        $('li:first-child', this).show();

        var loop = function() {
            active == items - 1 ? active = 0 : active += 1;
            $(that).find('li').fadeOut().parent().find('li:eq(' + active + ')').fadeIn();
        }

        setInterval(loop, timer);
    }

    $(function() {
        $('.sb-slider').AutoSlide();
    });
</script>
<div class="swiper-viewport banner">
    <hr class="am"/>
    <div class="sb-slider">
        <ul class="none">
            <li><img src="/image/catalog/_sliders/3witches1.jpg" class="img-responsive" alt=""/></li>
            <li><img src="/image/catalog/_sliders/feste1.jpg" class="img-responsive" alt=""/></li>
            <li><img src="/image/catalog/_sliders/grumio1.jpg" class="img-responsive" alt=""/></li>
            <li><img src="/image/catalog/_sliders/macbeth1.jpg" class="img-responsive" alt=""/></li>
            <li><img src="/image/catalog/_sliders/pease-blossom1.jpg" class="img-responsive" alt=""/></li>
            <li><img src="/image/catalog/_sliders/petruchio1.jpg" class="img-responsive" alt=""/></li>
            <li><img src="/image/catalog/_sliders/helena1.jpg" class="img-responsive" alt=""/></li>
        </ul>
    </div>
</div>
